# URL de API e Chaves de Acesso do Banco de Dados Supabase
# Pode ser obtido em: Settings > API no painel do Supabase do seu projeto

# Endpoint Principal do Supabase
VITE_SUPABASE_URL="https://your-project-id.supabase.co"

# Chave Anônima Pública do Supabase (anon/public)
VITE_SUPABASE_ANON_KEY="your-anon-pub-key"
